.container{
    margin:0 10% 0 10%; padding:0; 
    background-color:rgb(255, 255, 255); 
    background-image:url(../styles/images/background_home.jpg);
    height:auto; min-height:550px;
    box-shadow: 0px 2px 2px 2px rgba(255, 255, 255, 0.2);
}

ul { 
display: flex; flex-direction: column-reverse;
}

li {
    flex: 0 0 auto;
}

#title-h1{
    background-color:rgba(215, 204, 149, 0.7); 
    margin:0 0 5% 0;
}

#title-h1:hover{
    background-color:rgba(245, 233, 171, 0.7); 
    margin:0 0 5% 0;
}

#page-content-div{
    width:100%; height:auto;
    display:flex; justify-content:space-between; 
    padding:0; 
}

    #follow-lists-div{
        width:40%; height:auto;  
        display:flex; justify-content:space-between;
    }

        #following-list-div, #followers-list-div {
            background-color:rgba(235, 247, 232, 0.9);
            border-radius:5px;
            width:99%; height:99%; min-height:550px;
            margin:0 0 5% 5%; border:0;
            box-shadow: -5px 5px 2px 1px rgba(0, 51, 255, 0.2);
        }

        #following-list-div:hover, #followers-list-div:hover {
            background-color:rgba(244, 255, 241, 0.9);
            width:99%; height:99%; min-height:550px;
            margin:0 0 5% 5%; border:0;
            box-shadow: -5px 5px 2px 1px rgba(101, 132, 255, 0.2);
        }

            #following-p, #followers-p{
                background-color:rgba(255, 243, 162, 0.9);
                border-radius:5px;
                color: rgba(173, 173, 172, 0.9);  
                margin:0 0 2% 0; padding:2.5% 0 2.5% 0; 
                text-align:center;
            }

            #following-p:hover, #followers-p:hover{
                background-color:rgba(255, 243, 162, 0.9);
                color: rgba(210, 210, 210, 0.9); 
            }

            #user-followers-list, #user-following-list{
                list-style-type: none; 
                margin:0; padding:0;
                display: flex; flex-direction: column;
            }

                #following-username-p, #follower-username-p{
                    color: rgb(173, 172, 172); margin: 2% 0 2% 0; padding:0 0 0 5%;
                    background-color: rgba(255, 230, 162, 0.4);
                }

                #following-username-p:hover, #follower-username-p:hover{
                    cursor:pointer;
                    color: rgb(173, 172, 172); margin: 2% 0 2% 0; padding:0 0 0 5%;
                    background-color: rgba(255, 230, 162, 0.6);
                }


    
    #user-content-side-div{
        width:60%; height:100%; 
        margin:0 0 0 1%; padding:0;
        display:flex; flex-direction:column;
    }

        #add-note-form {
            width:99%;
            margin:0;  
            align-self:center;
        }

            #add-note-textarea {
                width: 75%; height:20%; min-height:60px; align-self:center; 
                margin:0 0% 0 15%; padding: 1.5% 5% 0% 1%; border-width: 5px 1px 5px 1px; border-color: rgba(255, 165, 0, 0.5); border-style:solid; border-radius:2px;
                background-color: rgba(250, 235, 215, 0.9);
                resize:none; outline-color:rgba(255, 165, 0, 0.8);
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                outline:none;
            }

            #add-note-textarea:hover{
                border-color: rgba(252, 183, 55, 0.5); 
                outline-color:rgba(252, 183, 55, 0.8);
            }

            #add-note-button {
                font-weight: bold;
                color: rgba(0, 128, 0, 0.6);;
                background-color: rgba(207, 255, 207, 0.9);
                margin:0 0 0 15%; border: 0px solid rgba(0, 128, 0, 0.6); border-radius: 2px; padding: 1% 5% 1% 5%; 
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            #add-note-button:hover {
                cursor: pointer;
                background-color: rgba(250, 250, 250, 0.8);
                border-color: rgba(0, 128, 0, 0.8);
            }

        #notes{
            padding:0 5% 0 15%;
        }


.status-select {
    width:20%px; height:20%;
    background-color: rgba(255, 255, 196, 0.8);
    border:0px solid black; border-radius:2px;
    text-transform: uppercase;
    text-align:center;
    font-weight:bold; color: rgba(0, 0, 0, 0.5);
    outline:none;
}

.status-select:hover {
    cursor:pointer;
    background-color: rgba(252, 255, 153, 0.8);
}

#group-list {
    list-style-type: none; padding:0;
    width:100%; display:flex;
}

    #group-item-list{
        margin:0 0% 0 15%;
        width:80%;
    } 

        #a-note-div {
            display:flex; flex-direction:column;
            border-radius:3px; 
            background-color:rgba(222, 222, 170, 0.9);
            margin-bottom: 20px; padding:1% 1% 2% 1%; 
            box-shadow: 12px 12px 2px 1px rgba(0, 51, 255, 0.2);
        }

        #a-note-div:hover{
            background-color: rgba(255, 255, 196, 0.7);
            box-shadow: 12px 12px 2px 1px rgba(101, 132, 255, 0.2);
        }

            #note-commands-group-div {
                display:flex; flex-direction:row; align-items:start; justify-content: space-between;
                background-color: rgba(255, 196, 0, 0.5);
                border-radius:2px;
                padding:1% 0 1% 0;
            }

                #delete-button {
                    height: 20%; width:20%; min-width:80px;
                    color:white; font-weight:bold;
                    background-color: rgba(220, 20, 60, 0.9); 
                    margin:0 1% 0 0; border:0; border-radius:3px; 
                }

                #delete-button:hover {
                    cursor:pointer;
                    background-color: rgba(250, 23, 69, 0.9); 
                }

            #note-text-div{
                flex:1; text-align:justify;
            }

            #note-text-div:hover{
                background-color: rgba(255, 255, 196, 0.7);
                border-radius:2px;
                cursor: pointer;
            }

        #note-text-p{
            margin: 1% 1% 5% 1%;
        }

        #note-info-div{
            display:flex; justify-content:space-between; 
            border-top: 2px dashed rgba(0, 0, 0, 0.4); 
            margin: 0 1% 0 1%
        }

            #posted-at-p{
                display:inline-block; 
                color: rgba(0, 0, 0, 0.4); 
                margin:0 0 0 1%;
            }

            #visibility-p{
                display:inline-block;
                color: rgba(0, 0, 0, 0.4); margin:0 1% 0 0;
            }